
@font-face {
	font-family: 'lobster';
	src: url('../fonts/lobster-regular-webfont.woff2') format('woff2'),
		url('../fonts/lobster-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FiraSans-Regular';
	src: url('../fonts/FiraSans-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/FiraSans-Regular.otf') format('opentype'),
		/* Open Type Font */ url('../fonts/FiraSans-Regular.svg') format('svg'),
		/* Legacy iOS */ url('../fonts/FiraSans-Regular.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('../fonts/FiraSans-Regular.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/FiraSans-Regular.woff2') format('woff2'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FiraSans-Bold';
	src: url('../fonts/FiraSans-Bold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/FiraSans-Bold.otf') format('opentype'),
		/* Open Type Font */ url('../fonts/FiraSans-Bold.svg') format('svg'),
		/* Legacy iOS */ url('../fonts/FiraSans-Bold.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('../fonts/FiraSans-Bold.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/FiraSans-Bold.woff2') format('woff2'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}